<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/magIchNicht.css" />
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    </head>
    <body class="bg-dark">
        <div class="container body-content">
	            <div class="row px-5 pt-5">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="jumbotron col-12" style="background-color: #0a0a0a; display: block; ">
                            <br />
	                    	<h1 class="text-center text-light">Keine Verbindung zum Roboter!!!</h1>
                            <br />
                            <h2 class="text-center text-light">Starten Sie den Roboter und versuchen Sie es erneut</h2>
                            <br />
                            <a class="btn btn-outline-light btn-block" href="/">Neu verbinden</a>
	                    </div>
                    </div>
                </div>
        </div>
    </body>
</html>	