{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Wir verstaubsaugen dich</h1>
    <p class="lead">Max war im Baumarkt und hat Bilder geschickt</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Nicht klicken!!! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Leeres Techniker Projekt</h2>
        <p>
            Hier koennte dein Projekt stehen
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Bitte nicht klicken &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leeres Techniker Projekt</h2>
        <p> Hier koennte dein Projekt stehen</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Bitte nicht klicken &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leeres Techniker Projekte</h2>
        <p>Hier koennte dein Projekt stehen</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Immer noch nicht klicken! &raquo;</a></p>
    </div>
</div>

{% endblock %}